body {
  padding: 36px;
  font-family: 'Inconsolata', monospace;
  background-color: #26394c;
 /* font-family: 'Roboto', sans-serif; */
}
.jumbotron{
  background-color: #5c90b5;
  padding: 36px;
}
img{
  height:64px;
  margin:10px;
}
h1 {
  color:white;
}
p{
  color:white;
  margin:0px;
}
#opLine {
  font-size: 14px;
  color:#2b0b0b;
}
#res{
  color:#2b0b0b;
  font-size: 28px;
}
#ecran{
  width:260px;
  height: 72px;
  background-color: #968b8b;
  text-align: right;
  margin:10px;
  padding:2px;
  
  border: solid 2px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(10, 10, 10, 0.548), 0 10px 20px 0 rgba(0, 0, 0, 0.664);
}

.col-6 {
  padding:20px;
  max-width: 300px;
  min-width: 300px;
  border: solid 4px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(10, 10, 10, 0.548), 0 10px 20px 0 rgba(0, 0, 0, 0.664);
  background-color: rgb(28, 54, 92);
}

.btn { 
  height: 48px;
  width: 48px;
    margin:5px;
    border: 0;
    border-bottom: 0;
    border-left: 0;
    box-shadow: inset 0 -3.2px rgba(0, 0, 0, 0.12), inset 2px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    -webkit-outline: none;
    -o-outline: none;
      -moz-outline: none;
  } 
  .btn-danger{
    padding:5px;
    height: 36px;
    width:108px;
    }
         
  .btn:active, .btn.active { 
    outline: none;
    -moz-outline: none;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    position: relative;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important; top: 1px;
    left: -1px;
   } 
   
   .btn:focus { 
     outline: none;
     -webkit-outline: none; 
     -moz-outline: none; 
    } 
    
    .btn-sm { 
      padding-top: 1.5px;
   }

   /* Tooltip */
 .tooltip > .tooltip-inner {
  background-color: rgb(22, 106, 139); 
  color: #FFFFFF; 
  border: 1px solid green;
  padding: 15px;
  font-size: 20px;
}
.tooltip.top > .tooltip-arrow {
  border-top: 5px solid green;
}